@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

@if (!Model.IsLoggedIn)
{ 
		<div class="alert alert-info">
			<a id="alogin" href="#login">Log in to play</a>
		</div>
}
else
{
    <div class="row">
    <div class="span4">
        <h1>Your move:</h1>
    </div>
    <div class="span4">
        <ul class="game-options">
	        <li><a href="#" id="select-Rock"><img src="/Content/Images/rock_thumb.png" /></a></a></li>
	        <li><a href="#" id="select-Paper"><img src="/Content/Images/paper_thumb.png" /></a></li>
	        <li><a href="#" id="select-Scissors"><img src="/Content/Images/scissors_thumb.png" /></a></li>
	        <li><a href="#" id="select-Lizard"><img src="/Content/Images/lizard_thumb.png" /></a></li>
	        <li><a href="#" id="select-Spock"><img src="/Content/Images/spock_thumb.png" /></a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="result" class="alert alert-info">
    </div>
</div>

	<div class="row hero-unit game-panel">
        <div class="span4">
            <img id="player-one" src="/Content/Images/none.png" />
        </div>
        <div class="span2">
            <img src="/Content/Images/versus.png" />
        </div>
        <div class="span4">
            <img id="player-two" src="/Content/Images/none.png" />
        </div>
    </div>

    <div id="game-window-log-div" class="window-log">
        <p id="game-window-log">


        </p>
    </div>


<div id="question" style="display:none; cursor: pointer"> 
        
</div>

@section PageScript {
<script src="/Content/js/libs/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>

<script src="/signalr/hubs" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        rpslsHubClient = $.connection.rpslsHub;

        var getFormatedDate = function () {
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1; //Months are zero based
            var curr_year = d.getFullYear();
            return "[" + curr_year + "-" + curr_month + "-" + curr_date + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds() + " ]";
        }

        var addLog = function (newMessage) {
            var message = getFormatedDate() + " " + newMessage + "<br />" + $("#game-window-log").html();
            $("#game-window-log").html(message);
        };

        $("#dismiss-move").live('click', function () {
            $.unblockUI();
            rpslsHubClient.dismissMove();
        });

        $("a[id^='select-']").live('click', function () {
            var gestureType = $(this).attr("id").replace("select-", "");

            var url = "/game";

            rpslsHubClient.sendMoveServer(gestureType);

            return false;
        });

        // Start the connection
        $.connection.hub.start(function () {
            rpslsHubClient.join('@Model.UserName');
        });

        // Receive a new message from the server
        rpslsHubClient.play = function (legend, gesture) {
            $("#result").html(legend);

            $("#player-two").attr("src", "/Content/Images/" + gesture + ".png");

            addLog(legend);

        };

        rpslsHubClient.moveAccepted = function (gesture) {
            $("#player-one").attr("src", "/Content/Images/" + gesture + ".png");

            $("#player-two").attr("src", "/Content/Images/none.png");
        }

        rpslsHubClient.moveAcceptedToPlay = function (gesture) {
            $("#player-one").attr("src", "/Content/Images/" + gesture + ".png");
        }

        // Receive a new message from the server
        rpslsHubClient.addMessage = function (message) {
            addLog(message);
        };

        rpslsHubClient.addWarning = function (messagetxt) {
            addLog(messagetxt);
            $('#question').html(messagetxt + "<a id='dismiss-move'>dismiss move.</a>")
            $.blockUI({ message: $('#question'), css: { width: '275px'} });
        };

        rpslsHubClient.totalPlayers = function (totalPlayers) {
            $("#total-players").html(totalPlayers);
        };
    });
</script>
} 
}

