@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="span4">
        <h1>Your move:</h1>
    </div>
    <div class="span4">
        <ul class="game-options">
	        <li><a href="#" id="select-Rock"><img src="/Content/Images/rock_thumb.png" /></a></a></li>
	        <li><a href="#" id="select-Paper"><img src="/Content/Images/paper_thumb.png" /></a></li>
	        <li><a href="#" id="select-Scissors"><img src="/Content/Images/scissors_thumb.png" /></a></li>
	        <li><a href="#" id="select-Lizard"><img src="/Content/Images/lizard_thumb.png" /></a></li>
	        <li><a href="#" id="select-Spock"><img src="/Content/Images/spock_thumb.png" /></a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="alert-message" class="alert alert-error hidden">
        <span id="alert-message-text">
        </span>
    </div>
</div>
<div class="row">
    <div id="result" class="alert alert-info">
    </div>
</div>

	<div class="row hero-unit game-panel">
        <div class="span4">
            <img id="player-one" src="/Content/Images/rock.png" />
        </div>
        <div class="span2">
            <img src="/Content/Images/versus.png" />
        </div>
        <div class="span4">
            <img id="player-two" src="/Content/Images/scissors.png" />
        </div>
    </div>

    <div id="game-window-log-div" class="window-log">
        <p id="game-window-log">


        </p>
    </div>



@section PageScript {
<script src="/Content/js/libs/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var rpslsHubClient = $.connection.rpslsHub;

        var addLog = function (newMessage) {
            var message = $("#game-window-log").html() + "<br />" + newMessage;
            $("#game-window-log").html(message);
        }

        $("a[id^='select-']").live('click', function () {

            $("#alert-message").addClass("hidden");

            var gestureType = $(this).attr("id").replace("select-", "");

            $("#player-one").attr("src", "/Content/Images/" + gestureType + ".png");

            var url = "/game";

            rpslsHubClient.sendMoveServer(gestureType);

            return false;
        });

        // Start the connection
        $.connection.hub.start(function () {
            rpslsHubClient.join('@Model.UserName');
        });

        // Receive a new message from the server
        rpslsHubClient.play = function (legend, gesture) {

            $("#alert-message").addClass("hidden");

            $("#result").html(legend);

            $("#player-two").attr("src", "/Content/Images/" + gesture + ".png");

            addLog(legend);

        };

        // Receive a new message from the server
        rpslsHubClient.addMessage = function (message) {
            addLog(message);
        };

        rpslsHubClient.addWarning = function (message) {
            $("#alert-message-text").html(message);
            $("#alert-message").removeClass("hidden");
            addLog(message);
        };
    });
</script>
}