@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/GameLayout.cshtml";
}

@if (!Model.IsLoggedIn)
{ 
    <div class="alert alert-info">
        <a id="alogin" href="#login">Log in to play</a>
    </div>
}
else
{
    
    <div class="row-fluid">
        <div class="span4">
            <div>
                <p>
                    Stats For Now
                </p>
            </div>
            <table class="table">
                <tr>
                    <th>Move</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Tie</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>
                        <img src="/Content/Images/rock_thumb.png" /></td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="rock-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="rock-win-rate">0.00</span>%
                        </div>
                    </td>

                    <td>
                        <div class="row no-margin-stats">
                            <span id="rock-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="rock-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="rock-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="rock-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="rock-total-count">0</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Content/Images/paper_thumb.png" /></td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="paper-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="paper-win-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="paper-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="paer-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="paper-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="paper-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="paper-total-count">0</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Content/Images/scissors_thumb.png" /></td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="scissors-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="scissors-win-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="scissors-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="scissors-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="scissors-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="scissors-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="scissors-total-count">0</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Content/Images/lizard_thumb.png" /></td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="lizard-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="lizard-win-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="lizard-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="lizard-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="lizard-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="lizard-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="lizard-total-count">0</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/Content/Images/spock_thumb.png" /></td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="spock-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="spock-win-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="spock-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="spock-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="spock-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="spock-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="spock-total-count">0</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="total-win-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="total-win-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="total-lose-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="total-lose-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="total-tie-count">0</span>
                        </div>
                        <div class="row no-margin-stats">
                            <span id="total-tie-rate">0.00</span>%
                        </div>
                    </td>
                    <td>
                        <div class="row no-margin-stats">
                            <span id="total-total-count">0</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <h1>Your move:</h1>
                </div>
                <div class="span5">
                    <ul class="game-options">
                        <li><a href="#" id="select-Rock">
                            <img src="/Content/Images/rock_thumb.png" /></a></a></li>
                        <li><a href="#" id="select-Paper">
                            <img src="/Content/Images/paper_thumb.png" /></a></li>
                        <li><a href="#" id="select-Scissors">
                            <img src="/Content/Images/scissors_thumb.png" /></a></li>
                        <li><a href="#" id="select-Lizard">
                            <img src="/Content/Images/lizard_thumb.png" /></a></li>
                        <li><a href="#" id="select-Spock">
                            <img src="/Content/Images/spock_thumb.png" /></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div id="result" class="alert alert-info"></div>
            </div>

            <div class="row hero-unit game-panel">
                <div class="span4">
                    <img id="player-one" src="/Content/Images/none.png" />
                </div>
                <div class="span2">
                    <img src="/Content/Images/versus.png" />
                </div>
                <div class="span4">
                    <img id="player-two" src="/Content/Images/none.png" />
                </div>
            </div>

            <div id="game-window-log-div" class="window-log">
                <p id="game-window-log"></p>
            </div>

            <div id="question" style="display: none; cursor: pointer"></div>
        </div>
    </div>    
    
    
    

    @section PageScript {
        <script src="/Content/js/libs/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>

        <script src="/signalr/hubs" type="text/javascript"></script>
        
        <script type="text/javascript" src="/Content/js/specific/game-signalr.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                var game = new Game();
                game.start({
                    username: '@Model.UserName',
                    email: '@Model.Email',
                    addLogElement: $("#game-window-log"),
                    elTotalWinCount: $("#total-win-count"),
                    elTotalLoseCount: $("#total-lose-count"),
                    elTotalTieCount: $("#total-tie-count"),
                    elTotalWinRate: $("#total-win-rate"),
                    elTotalLoseRate: $("#total-lose-rate"),
                    elTotalTieRate: $("#total-tie-rate"),
                    elTotalTotalCount: $("#total-total-count"),
                    resultViewElement: $("#result"),
                    totalPlayersView: $("#total-players"),
                    playerOneView: $("#player-one"),
                    playerTwoView: $("#player-two")


                });
            });
        </script>
    }
}