<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<form action="asyncgame" method="post">
    <table>
        <tr>
            <td>
                Nickname:
            </td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                    <input type="submit" value="Login" />            
            </td>
        </tr>
    </table>
</form>

</body>
</html>
